apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}
  labels:
    app: {{ .Values.appName }}
spec:
  selector:
    app: {{ .Values.appName }}
  ports:
  - name: app-port
    protocol: TCP
    port: {{ .Values.servicePort }}
    targetPort: 8000